/* Write GOOD comments so that next developer ( killer psycopath who knows where you stay ) ... */
/* .... who is going to maintain this code; need NOT have to get back to you */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(217, 39%, 21%);
  --card-bg-color: hsl(217, 41%, 36%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-content-color: hsl(220, 15%, 55%);
  --font-family: "Outfit", sans-serif;
  --border-radius: 1.25em;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-color);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 2em auto auto auto;
}

/* Keep DRY */
.flexbox-item {
  width: 21.875em;
  margin: auto;
  padding: 1.25em;
  background-color: var(--card-bg-color);
}

/* -------------------- */
.flexbox-item-1 {
  min-height: 5em;
  flex-basis: 21.875em;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.equilibrium-image-container {
  width: 100%;
  height: 100%;
  min-height: 1.875em;
  margin: auto;
}

.equilibrium-image-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

/* -------------------- */
.flexbox-item-2 {
  min-height: 3.75em;
  flex-basis: 9.375em;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 0em;
}

.info-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-section-1 h3 {
  color: white;
  font-family: var(--font-family);
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.info-section-1 p {
  font-family: var(--font-family);
  font-size: 1.2em;
  color: hsl(215, 51%, 70%);
  line-height: 1.625em;
}

.info-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.25em auto 1.875em auto;
  gap: 2em;
}

.image-value-container {
  display: flex;
  width: 20em;
  justify-content: flex-start;
  align-items: center;
}

.image-value-container img {
  margin-right: 1em;
}

.etherium-image-and-value {
  margin-right: 2.5em;
}

.etherium-image-and-value h5 {
  font-size: 1em;
  color: aqua;
}

.timer-image-and-value p {
  font-size: 1.1em;
  color: hsl(215, 51%, 70%);
}

/* -------------------- */
.flexbox-item-3 {
  padding: 0.625em 1.25em;
}

/* -------------------- */
.flexbox-item-4 {
  min-height: 1.25em;
  flex-basis: 1.875em;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding-bottom: 2.5em;
}

.avatar-image-and-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  height: 100%; /* center the div */
}

.avatar-image-container {
  width: 2.5em;
  height: 2.5em;
  margin-left: 0%;
  margin-right: 0.625em;
}

.avatar-image-container img {
  width: 100%;
  height: 100%;
}

.avatar-image-and-name p {
  color: hsl(215, 51%, 70%);
}

.avatar-image-and-name span {
  color: aliceblue;
  margin-left: 0.313em;
}

/* -------------------- */
/* Should always stick to bottom of page and should be centered */
footer {
  flex-shrink: 0;
  margin: 3.75em auto auto auto;
}

.attribution {
  font-size: 0.688em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
